In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.DataFrame({'groups' : ['A','B','C','A','B','C'],
            'degisken1' : [10,23,33,22,11,99],
            'degisken2' : [100,253,333,262,111,969]} , columns=['groups' , 'degisken1' , 'degisken2'])
df

  groups  degisken1  degisken2
0      A         10        100
1      B         23        253
2      C         33        333
3      A         22        262
4      B         11        111
5      C         99        969

# Aggregate

In [3]:

df.groupby('groups').mean()

        degisken1  degisken2
groups
A            16.0      181.0
B            17.0      182.0
C            66.0      651.0

In [4]:
df.groupby('groups').aggregate(['min' , np.median , 'max']) # veri setini groups a göre böldük aggregate ile min max ve median fonksiyonlarını kullandık
                                                            # min ve max pandasın içerisinde old için tırnak içinde yazmamıza gerek yok

       degisken1            degisken2
             min median max       min median  max
groups
A             10   16.0  22       100  181.0  262
B             11   17.0  23       111  182.0  253
C             33   66.0  99       333  651.0  969

In [5]:
df.groupby("groups").aggregate({'degisken1':["min","max"] , 'degisken2' : [np.median]}) # bu fonksiyonun içerisine hangi değişkene  
                                                                                        # hangi fonkun uygulanacagını sözlük ile belirtebiliriz

       degisken1     degisken2
             min max    median
groups
A             10  22     181.0
B             11  23     182.0
C             33  99     651.0

# Filter

In [6]:
def func(x):
    return x['degisken1'].std() > 9 # filtre fonksiyonu tanımladık

In [7]:
df.groupby('groups').filter(func) # filter fonksiyonunun içerisine func u koyduk filter fonksiyonu verdiğimz fonksiyondaki filtreyi uygular

  groups  degisken1  degisken2
2      C         33        333
5      C         99        969

# Transform

In [16]:
dfA = df.iloc[:,1:]
df.iloc[:,1:].transform(lambda x : (x-x.mean()) / x.std())# tranform fonksiyonunun içerisine verdiğimiz fonksiyonu dataframedeki tüm verilere uygular
                                                             # burda x değikendir ve gezilecek olan sütunları ifade eder
                                                                # x.mean() degisken1 sütunun ortalaması olur

   degisken1  degisken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853

# Apply

In [17]:
dfA.apply(np.sum) # apply ın içerisine verdiğimiz fonksiyonları direk bütün sütunlarda işlem yapar ve bize çıktı verir

degisken1     198
degisken2    2028
dtype: int64

In [18]:
dfA.apply(np.mean)

degisken1     33.0
degisken2    338.0
dtype: float64

In [19]:
df.groupby('groups').apply(np.mean)

c:\Users\enesb\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
c:\Users\enesb\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

        degisken1  degisken2
groups
A            16.0      181.0
B            17.0      182.0
C            66.0      651.0