In [2]:
import numpy as np
import pandas as pd

In [3]:
arr = np.random.randint(1,30,(10,3))
df = pd.DataFrame(arr , columns=["var1","var2","var3"])
df

   var1  var2  var3
0     5    25    15
1     3    18     6
2    11    26    17
3     6    16    15
4    13    18    10
5    26     8     1
6     8     2     3
7     1    22    27
8    17     4    28
9     2    25     1

### loc : normalde [0:3] dedigimizde 3 ü almaz ama loc ile alıyor

In [14]:
df.loc[0:3]

   var1  var2  var3
0     5    25    15
1     3    18     6
2    11    26    17
3     6    16    15

### iloc : normal indexleme mantıgı ile dataaframe seçme

In [24]:
df.iloc[:,1:2] # virgulden önceki kısım satır sonraki kısım sütun oluyor

   var2
0    25
1    18
2    26
3    16
4    18
5     8
6     2
7    22
8     4
9    25

In [26]:
df.loc[0:3,"var2"] # loc fonksiyonunda direkt olarak sütun ismi vererek seçme yapabiliriz
                    # ama ilocta hata verir

0    25
1    18
2    26
3    16
Name: var2, dtype: int32

In [28]:
df.loc[:,["var1","var3"]] # direk liste vererek seçim yapabiliriz

   var1  var3
0     5    15
1     3     6
2    11    17
3     6    15
4    13    10
5    26     1
6     8     3
7     1    27
8    17    28
9     2     1