In [7]:
import numpy as np
import pandas as pd

In [8]:
np_arr = np.random.randint(1,30,(10,3))
df = pd.DataFrame(np_arr , columns= ["var1","var2","var3"])
df

   var1  var2  var3
0    13    14    22
1     2    23    23
2     1    24     3
3    13     4     5
4    21     7     8
5     6    27     8
6    29    10    14
7    26    23    18
8     5     4    13
9     3     5     9

In [9]:
df["var1"] # index içerisine direk kolon ismi vererek erişebiliriz

0    13
1     2
2     1
3    13
4    21
5     6
6    29
7    26
8     5
9     3
Name: var1, dtype: int32

In [18]:
df["var1"] > 5 # ilgili dataframe kolonunu koşul işlemine tabii tuttuk sonuc olarak bize bool listesi döndü
df[df["var1"] > 5] # eğer bu kosulu df in içerisine yazarsak kosulu sağlayan degerleri getirir

   var1  var2  var3
0    13    14    22
3    13     4     5
4    21     7     8
5     6    27     8
6    29    10    14
7    26    23    18