In [2]:
import numpy as np
import pandas as pd

In [3]:
L = [1,2,567,43,67]
L

[1, 2, 567, 43, 67]

In [7]:
df = pd.DataFrame(L , columns=['Degisken Ismi']) # Dataframe lerde kolon isimleri bir liste şeklinde verilir
df

   Degisken Ismi
0              1
1              2
2            567
3             43
4             67

In [13]:
arr = np.arange(1,10).reshape(3,3) # 2 boyutlu 3x3 bir numpy array olusturduk
df = pd.DataFrame(arr , columns=["var1","var2","var3"] , index=["ind1","ind2","ind3"]) # matrisin kolon ve satırlarını isimlendirme işlemi
df

      var1  var2  var3
ind1     1     2     3
ind2     4     5     6
ind3     7     8     9

### Dataframe İsimlendirme

In [15]:
df.columns = ("deg1","deg2" , "deg3") # df.columns ile kolon isimleri değiştirilebilir (tuple şeklinde)
df

      deg1  deg2  deg3
ind1     1     2     3
ind2     4     5     6
ind3     7     8     9

In [16]:
df.axes # Satır ve Sütun bilgilerini verir

[Index(['ind1', 'ind2', 'ind3'], dtype='object'),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [17]:
df.shape # Boyut Bilgisi

(3, 3)

In [18]:
df.ndim # Kaç boyutlu olduğu bilgisi

2

In [19]:
df.size # Dataframedeki veri sayısı

9

In [21]:
df.values # sadece degerleri alır (satır ve sütun isimleri yok)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])